@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply duration-75 outline-none overflow-hidden scrollbar-thin scrollbar-thumb-neutral-500 scrollbar-track-neutral-900 scrollbar-thumb-rounded;
  }

  html {
    @apply overflow-hidden antialiased overscroll-none select-none bg-bg text-white;
  }

  [type="text"],
  textarea {
    @apply bg-neutral-800 border-0 p-0 h-fit focus:ring-transparent resize-none text-sm;
  }
}

@layer utilities {
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }

  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}
