@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply select-none outline-none !overflow-x-hidden scrollbar-thin scrollbar-thumb-neutral-500 scrollbar-track-neutral-900 hover:scrollbar-thumb-neutral-400 scrollbar-thumb-rounded;
    -webkit-tap-highlight-color: transparent;
  }

  html {
    @apply antialiased bg-bg text-white leading-7 overscroll-y-none;
  }

  [type="text"],
  textarea {
    @apply leading-6 hover:border-borderLight bg-neutral-800 w-full p-0 focus:ring-transparent resize-none text-sm block border border-border focus:border-borderLight rounded-lg placeholder:text-neutral-500;
  }

  hr {
    @apply my-6 h-[1px] border-0 bg-border;
  }

  b {
    @apply font-bold;
  }

  a {
    @apply underline w-fit cursor-pointer underline-offset-[6px];
  }

  a[target="_blank"] {
    @apply cursor-ne-resize;
  }
}

@layer utilities {
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }

  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}
