@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply select-none outline-none overflow-hidden scrollbar-thin scrollbar-thumb-neutral-500 scrollbar-track-neutral-900 hover:scrollbar-thumb-neutral-400 scrollbar-thumb-rounded;
  }

  html {
    @apply overflow-hidden antialiased bg-bg text-white overscroll-none leading-7;
  }

  [type="text"] {
    @apply leading-6 bg-neutral-800 w-full p-0 focus:ring-transparent resize-none overflow-hidden text-sm block border border-border focus:border-borderLight rounded-lg placeholder:text-neutral-500;
  }

  hr {
    @apply my-10 h-0.5 border-0 bg-border;
  }

  b {
    @apply font-bold;
  }

  a {
    @apply underline w-fit cursor-pointer;
  }

  a[target="_blank"] {
    @apply cursor-ne-resize;
  }
}

@layer utilities {
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }

  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}
